[default]
index_driver: postgis
db_hostname: ${ODC_DEFAULT_DB_HOSTNAME}
db_port: ${ODC_DEFAULT_DB_PORT}
db_database: ${ODC_DEFAULT_DB_DATABASE}
db_username: ${ODC_DEFAULT_DB_USERNAME}
db_password: ${ODC_DEFAULT_DB_PASSWORD}

[datacube]
index_driver: postgis
db_hostname: ${ODC_DEFAULT_DB_HOSTNAME}
db_port: ${ODC_DEFAULT_DB_PORT}
db_database: ${ODC_DEFAULT_DB_DATABASE}
db_username: ${ODC_DEFAULT_DB_USERNAME}
db_password: ${ODC_DEFAULT_DB_PASSWORD}
