# Core ODC packages
odc-geo
odc-stac
odc-cloud

# Additional dependencies for stac-to-dc and others
boto3
psycopg2-binary
lark
sqlalchemy
alembic
geoalchemy2
antimeridian
jsonschema
datadog
boltons
cattrs
ciso8601
urlpath
click
fsspec
pystac-client
ruamel.yaml
toolz
pyyaml
scipy
deprecat
importlib_resources
Jinja2

# GDAL and Related
gdal
rasterio
--no-binary gdal
--no-binary rasterio
