# Core ODC packages
odc-geo
odc-stac
odc-cloud
odc-apps-dc-tools==1.9.3
datacube==1.9.6

# Additional dependencies for stac-to-dc and others
boto3
psycopg2-binary
lark
sqlalchemy
alembic
geoalchemy2
antimeridian
jsonschema
datadog
boltons
cattrs
ciso8601
urlpath
click
fsspec
pystac-client
ruamel.yaml
toolz
pyyaml
scipy
deprecat
importlib_resources
Jinja2
aiobotocore
aiohttp 
requests 
fsspec[http]

# GDAL and Related
gdal==3.11.0
rasterio
