name: Manual Docker Build
run-name: "Manual: ${{ inputs.build_target }} (User: ${{ github.actor }})"

on:
  workflow_dispatch:
    inputs:
      build_target:
        description: "Select Component"
        required: true
        type: choice
        options:
          - odc
          - jupyter
          - dev-jupyter
          - ows

jobs:
  prepare-config:
    runs-on: ubuntu-latest
    outputs:
      component: ${{ steps.config.outputs.component }}
      dockerfile: ${{ steps.config.outputs.dockerfile }}
      repository: ${{ steps.config.outputs.repository }}
      date_tag: ${{ steps.config.outputs.date_tag }}
    steps:
      - name: Configure Build
        id: config
        run: |
          COMPONENT="${{ inputs.build_target }}"

          case $COMPONENT in
            "odc")
              DOCKERFILE="./docker/odc/Dockerfile"
              REPOSITORY="odc"
              ;;
            "ows")
              DOCKERFILE="./docker/ows/Dockerfile"
              REPOSITORY="ows"
              ;;
            "jupyter")
              DOCKERFILE="./docker/jupyter/Dockerfile"
              REPOSITORY="piksel-core"
              ;;
            "dev-jupyter")
              DOCKERFILE="./docker/jupyter-dev/Dockerfile"
              REPOSITORY="piksel-core"
              ;;
          esac

          DATE_TAG="v$(TZ='Asia/Jakarta' date +'%Y%m%d-%H%M')"

          echo "component=$COMPONENT" >> $GITHUB_OUTPUT
          echo "dockerfile=$DOCKERFILE" >> $GITHUB_OUTPUT
          echo "repository=$REPOSITORY" >> $GITHUB_OUTPUT
          echo "date_tag=$DATE_TAG" >> $GITHUB_OUTPUT

  call-build:
    needs: prepare-config
    permissions:
      id-token: write
      contents: read
    uses: ./.github/workflows/docker-build.yml
    secrets:
      AWS_ROLE_ARN: ${{ secrets.AWS_ROLE_ARN }}
    with:
      component: ${{ needs.prepare-config.outputs.component }}
      dockerfile: ${{ needs.prepare-config.outputs.dockerfile }}
      repository: ${{ needs.prepare-config.outputs.repository }}
      image_tag: ${{ needs.prepare-config.outputs.date_tag }}
