name: Tag-based Docker Build
run-name: "Tag Build: ${{ github.ref_name }}"

on:
  push:
    tags:
      - "odc-*"
      - "ows-*"
      - "jupyter-*"
      - "dev-jupyter-*"

jobs:
  prepare-config:
    runs-on: ubuntu-latest
    outputs:
      component: ${{ steps.parse.outputs.component }}
      dockerfile: ${{ steps.parse.outputs.dockerfile }}
      image_tag: ${{ steps.parse.outputs.image_tag }}
    steps:
      - name: Parse Tag
        id: parse
        run: |
          TAG_NAME=${GITHUB_REF#refs/tags/}

          if [[ $TAG_NAME == odc-* ]]; then
            COMPONENT="odc"
            IMAGE_TAG="${TAG_NAME#odc-}"
            DOCKERFILE="./docker/odc/Dockerfile"
          elif [[ $TAG_NAME == ows-* ]]; then
            COMPONENT="ows"
            IMAGE_TAG="${TAG_NAME#ows-}"
            DOCKERFILE="./docker/ows/Dockerfile"
          elif [[ $TAG_NAME == dev-jupyter-* ]]; then
            COMPONENT="dev-jupyter"
            IMAGE_TAG="${TAG_NAME#dev-jupyter-}"
            DOCKERFILE="./docker/jupyter-dev/Dockerfile"
          elif [[ $TAG_NAME == jupyter-* ]]; then
            COMPONENT="jupyter"
            IMAGE_TAG="${TAG_NAME#jupyter-}"
            DOCKERFILE="./docker/jupyter/Dockerfile"
          fi

          echo "component=$COMPONENT" >> $GITHUB_OUTPUT
          echo "image_tag=$IMAGE_TAG" >> $GITHUB_OUTPUT
          echo "dockerfile=$DOCKERFILE" >> $GITHUB_OUTPUT

  call-build:
    needs: prepare-config
    uses: ./.github/workflows/docker-build.yml
    secrets:
      AWS_ROLE_ARN: ${{ secrets.AWS_ROLE_ARN }}
    with:
      component: ${{ needs.prepare-config.outputs.component }}
      dockerfile: ${{ needs.prepare-config.outputs.dockerfile }}
      image_tag: ${{ needs.prepare-config.outputs.image_tag }}
